footer {
    /* background-image: url('../img/igdtuw.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}

#foot {
    padding: 30px;
    background-color: #110c11;
    /* opacity: .8; */
    padding-bottom: 5px;
}

.footerlogo {
    display: block;
    margin: auto;
    padding: 5px;
}

.footerlogo img {
    display: block;
    margin: auto;
    width: 85px;
    height: 70px;
    border-radius: 30%;
}

.heading {
    display: block;
    margin: auto;
    text-align: center;
    color: #f6631b;
    font-weight: bold;
    padding: 5px;
    font-family: 'Emilys Candy', cursive;
    text-transform: uppercase;
}

.lastItem {
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #f6631b;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid grey;
}

.lastItem a:hover {
    color: #f6631b;
}

.heading i {
    padding: 2px;
    font-size: 40px;
    /* color: red; */
}

.heading i:hover {
    font-size: 50px;
}